<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxt.jhonelee.mapper.HealthSignMapper">
	<resultMap type="HealthSign" id="HealthSignResultMap">
		<result property="mId" column="id" />
		<result property="mPlaceName" column="placename" />
		<result property="mHospitalName" column="hospitalname" />
		<result property="mDocId" column="docid" />
		<result property="mUserId" column="userid" />
		<result property="mUserName" column="username" />
		<result property="mDocName" column="docname" />
		<result property="mSignInTime" column="sign_time" />
		<result property="mCu" column="cu" />
	</resultMap>
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="false"></cache>
	<select id="HealthUserSignCount" resultType="HealthSign"
		resultMap="HealthSignResultMap"><!--用户扫码查看健康档案 -->
		SELECT
		addres.id,
		addres. NAME placename,
		hos. NAME hospitalname,
		dd.doctor_id docid,
		dd. NAME docname,
		signin.key_id userid,
		vitv.user_name username,
		max(signin.sign_time) sign_time,
		count(signin.id) cu
		FROM
		ITV_SIGNIN signin,
		address addres,
		doctor_detail
		dd,
		v_itv_is_contract vitv,
		(
		SELECT
		id,
		`name`,
		address_id
		FROM
		hospital h
		WHERE
		h.address_id IN (
		SELECT
		id
		FROM
		address a
		WHERE
		FIND_IN_SET(
		pid,
		fn_getaddress_childlist (#{mCodeValue})
		)
		OR code_value = #{mCodeValue}
		)
		) hos
		<where>
			hos.id = dd.zp_hospital_id
			AND dd.doctor_id = vitv.doctor_id
			AND
			vitv.user_id = signin.key_id
			AND signin.state = 102
			AND hos.address_id
			= addres.id
			<if test="mNum==1">
				and to_days(signin.sign_time) = to_days(now())<!-- #查询当天签到记录 -->
			</if>
			<if test="mNum==2">
				and YEARWEEK(date_format(signin.sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())<!-- #查询本周签到记录 -->
			</if>
			<if test="mNum==3">
				AND
				DATE_FORMAT(signin.sign_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
				<!--#查询本月签到记录 -->
			</if>
		</where>
		GROUP BY userid
		ORDER BY sign_time desc limit #{startPos},#{pageSize}
	</select>
	<select id="UserSignCount" resultType="int">
		select count(userid) from ( SELECT
		hos. NAME hospitalname,
		dd.doctor_id
		docid,
		dd. NAME docname,
		signin.key_id userid,
		vitv.user_name username,
		max(signin.sign_time) sign_time,
		count(signin.id) cu
		FROM
		ITV_SIGNIN
		signin,
		doctor_detail
		dd,
		v_itv_is_contract vitv,
		(
		SELECT
		id,
		`name`,
		address_id
		FROM
		hospital h
		WHERE
		h.address_id IN (
		SELECT
		id
		FROM
		address a
		WHERE
		FIND_IN_SET(
		pid,
		fn_getaddress_childlist (#{mCodeValue})
		)
		OR
		code_value = #{mCodeValue}
		)
		) hos
		<where>
			hos.id = dd.zp_hospital_id
			AND dd.doctor_id = vitv.doctor_id
			AND
			vitv.user_id = signin.key_id
			AND signin.state = 102
			<if test="mNum==1">
				and to_days(signin.sign_time) = to_days(now())<!-- #查询当天签到记录 -->
			</if>
			<if test="mNum==2">
				and YEARWEEK(date_format(signin.sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())<!-- #查询本周签到记录 -->
			</if>
			<if test="mNum==3">
				AND
				DATE_FORMAT(signin.sign_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
				<!--#查询本月签到记录 -->
			</if>
		</where>
		GROUP BY userid) users
	</select>



	<select id="HealthDocSignCount" resultType="HealthSign"
		resultMap="HealthSignResultMap">
		SELECT
		addres.id,
		addres. NAME placename,
		hos. NAME hospitalname,
		signin.key_id docid,
		dd. NAME docname,
		max(signin.sign_time) sign_time,
		count(signin.id) cu
		FROM
		ITV_SIGNIN signin,
		address addres,
		doctor_detail
		dd,
		(
		SELECT
		id,
		`name`,
		address_id
		FROM
		hospital h
		WHERE
		h.address_id IN (
		SELECT
		id
		FROM
		address a
		WHERE
		FIND_IN_SET(
		pid,
		fn_getaddress_childlist
		(#{mCodeValue})
		)
		OR code_value = #{mCodeValue}
		)
		) hos
		<where>
			hos.id = dd.zp_hospital_id
			and dd.doctor_id =
			signin.key_id
			and
			signin.state = 201
			and hos.address_id = addres.id
			<if test="mNum==1">
				and to_days(signin.sign_time) = to_days(now())<!-- #查询当天签到记录 -->
			</if>
			<if test="mNum==2">
				and YEARWEEK(date_format(signin.sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())<!-- #查询本周签到记录 -->
			</if>
			<if test="mNum==3">
				AND
				DATE_FORMAT(signin.sign_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')<!-- 
					#查询本月签到记录 -->
			</if>
		</where>
		GROUP BY docid
		ORDER BY sign_time desc limit #{startPos},#{pageSize}
	</select>


	<select id="DocSignCount" resultType="int">
		select count(id) from (SELECT
		addres.id,
		addres. NAME placename,
		hos.
		NAME hospitalname,
		signin.key_id docid,
		dd. NAME docname,
		max(signin.sign_time) sign_time,
		count(signin.id) cu
		FROM
		ITV_SIGNIN
		signin,
		address addres,
		doctor_detail dd,
		(
		SELECT
		id,
		`name`,
		address_id
		FROM
		hospital h
		WHERE
		h.address_id IN (
		SELECT
		id
		FROM
		address a
		WHERE
		FIND_IN_SET(
		pid,
		fn_getaddress_childlist (#{mCodeValue})
		)
		OR code_value
		= #{mCodeValue}
		)
		) hos
		<where>
			hos.id = dd.zp_hospital_id
			and dd.doctor_id =
			signin.key_id
			and
			signin.state = 201
			and hos.address_id = addres.id
			<if test="mNum==1">
				and to_days(signin.sign_time) = to_days(now())<!-- #查询当天签到记录 -->
			</if>
			<if test="mNum==2">
				and YEARWEEK(date_format(signin.sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())<!-- #查询本周签到记录 -->
			</if>
			<if test="mNum==3">
				AND
				DATE_FORMAT(signin.sign_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')<!-- 
					#查询本月签到记录 -->
			</if>
		</where>
		GROUP BY docid) doc

	</select>


	<select id="noUserSign" resultType="HealthSign" resultMap="HealthSignResultMap">
		select sign_time, count(key_id) cu
		from ITV_SIGNIN
		<where>
			key_id=0
			and state = 102
			<!--1表示查询上个个月数据，2表示查询本月数据，3表示查询上周数据，4表示查询本周数据 -->
			<if test="mTime==1">
				and
				PERIOD_DIFF(date_format(now(),'%Y%m'),
				date_format(sign_time,'%Y%m')
				) = 1
			</if>
			<if test="mTime==2">
				and DATE_FORMAT(sign_time, '%Y%m' ) = DATE_FORMAT(
				CURDATE() , '%Y%m' )
			</if>
			<if test="mTime==3">
				and YEARWEEK(date_format(sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())-1
			</if>
			<if test="mTime==4">
				and YEARWEEK(date_format(sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())
			</if>
		</where>
		GROUP BY
		TO_DAYS(sign_time)
	</select>

	<select id="noDocSign" resultType="HealthSign" resultMap="HealthSignResultMap">
		select
		sign_time, count(key_id) cu
		from ITV_SIGNIN
		<where>
			key_id=0
			and state = 201
			<!--1表示查询上个个月数据，2表示查询本月数据，3表示查询上周数据，4表示查询本周数据 -->
			<if test="mTime==1">
				and
				PERIOD_DIFF(date_format(now(),'%Y%m'),
				date_format(sign_time,'%Y%m')
				) = 1
			</if>
			<if test="mTime==2">
				and DATE_FORMAT(sign_time,'%Y%m') = DATE_FORMAT(
				CURDATE(),'%Y%m' )
			</if>
			<if test="mTime==3">
				and YEARWEEK(date_format(sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())-1
			</if>
			<if test="mTime==4">
				and YEARWEEK(date_format(sign_time,'%Y-%m-%d')) =
				YEARWEEK(now())
			</if>
		</where>
		GROUP BY TO_DAYS(sign_time)
	</select>


</mapper>