<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxt.jhonelee.mapper.HospitalMapper">
	<resultMap type="Hospital" id="HospitalMap" >
		<result property="mId" column="id" />
		<result property="mName" column="name" />
	</resultMap>

	<select id="SelectHospital" resultMap="HospitalMap" resultType="Hospital">
		select id,name from hospital where address_id = #{mAddressId} 
	</select>
</mapper>