<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxt.jhonelee.mapper.HospitalMapper">
	<resultMap type="Hospital" id="HospitalMap">
		<result property="mId" column="id" />
		<result property="mName" column="name" />
	</resultMap>
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="false"></cache>
	<select id="SelectHospital" resultMap="HospitalMap" resultType="Hospital">
		select id,name from hospital where address_id = #{mAddressId} limit 1
	</select>

	<select id="SelectAllHospital" resultMap="HospitalMap"
		resultType="Hospital">
		select
		id,
		`name`,
		address_id
		from
		hospital
		<where>
			address_id in (
			select
			id
			from
			address
			<where>
				code_value in
				<foreach item="item" index="index" collection="list" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</where>
			)
		</where>
	</select>

</mapper>