<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 关于查询用户的sql -->
<mapper namespace="com.yxt.jhonelee.mapper.UserMapper">
	<!-- 解决表名与字段不匹配 -->
	<resultMap type="User" id="userResultMap">
		<id property="mId" column="id" />
		<result property="mToken" column="token" />
		<result property="mItvToken" column="ITV_TOKEN" />
		<result property="mUserId" column="USER_ID" />
		<result property="mUserName" column="USER_NAME" />
		<result property="mUserPhone" column="USER_PHONE" />
		<result property="mDocId" column="DOCTOR_ID" />
		<result property="mIsSign" column="IS_SIGN" />
		<result property="mRegState" column="REG_STATE" />
		<result property="mRegTime" column="REG_TIME" />
		<result property="mScanCount" column="SCAN_COUNT" />
		<result property="mUpdateTime" column="UPDATE_TIME" />

		<association property="mItvRecord" javaType="ITVRecord">
			<result property="mAdminId" column="admin_id" />
			<result property="mRegistId" column="regist_id" />
			<result property="mReason" column="reason" />
			<result property="mHandle" column="handle" />
		</association>

		<association property="mDoctor" javaType="Doctor">
			<result property="mDocName" column="name" />
			<result property="mDocPhone" column="phone" />
			<result property="mIdCard" column="ID_Card" />
		</association>

	</resultMap>

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="false"></cache>

	<!--查询医生id下的所有签约用户 -->
	<select id="findAllUser" resultMap="userResultMap" resultType="User">
		select * from ITV_REGIST where doctor_id = #{id} order by
		TO_DAYS(REG_TIME) DESC, REG_TIME-TO_DAYS(REG_TIME)
	</select>
	<!--查询医生id下最新的预约用户 -->
	<select id="findUserBydocId" resultMap="userResultMap"
		resultType="User">
		SELECT * FROM (select * from ITV_REGIST where doctor_id in
		(select id from
		doctor) ORDER BY REG_TIME DESC) st GROUP BY
		st.doctor_id
	</select>




	<!-- 首页显示的分页实现 -->
	<select id="selectUserHomeBypage" resultMap="userResultMap"
		resultType="User">
		select * from(
		SELECT
		dd.`name`,
		regist.*,
		re.ADMIN_ID,re.DOC_REASON,re.USER_REASON,re.HANDLE
		FROM
		doctor_detail
		dd,
		ITV_REGIST regist
		LEFT JOIN ITV_RECORD re ON (re.REGIST_ID =
		regist.id)
		<where>
			dd.doctor_id = regist.DOCTOR_ID
			and regist.is_sign = 1
			and dd.zp_hospital_id =#{mId}
		</where>
		order by regist.REG_TIME desc) users 
		<where>
			<choose>
				<when test="timeInt==0">
					 TO_DAYS(users.REG_TIME) = TO_DAYS(NOW())
				</when>
				<when test="timeInt==1">
					 TO_DAYS(users.REG_TIME) = (TO_DAYS(NOW())-1)
				</when>
				<when test="timeInt==2">
					 TO_DAYS(users.REG_TIME) = (TO_DAYS(NOW())-2)
				</when>
			</choose>
		</where>
		group by name limit #{startPos},#{pageSize}
	</select>


	<!--首页显示总数 -->
	<select id="getHomeCount" resultType="int">
		select count(*) from
		(select * from(
		select
		dd.`name`,
		regist.*,
		re.admin_id,re.doc_reason,re.user_reason,re.handle
		from
		doctor_detail
		dd,
		ITV_REGIST regist
		left join ITV_RECORD re on (re.regist_id =regist.id)
		<where>
			dd.doctor_id = regist.doctor_id
			and regist.is_sign = 1
			and dd.zp_hospital_id =#{mId}
		</where>
		order by regist.REG_TIME desc) users 
		<where>
			<choose>
				<when test="timeInt==0">
					 TO_DAYS(users.REG_TIME) = TO_DAYS(NOW())
				</when>
				<when test="timeInt==1">
					 TO_DAYS(users.REG_TIME) = (TO_DAYS(NOW())-1)
				</when>
				<when test="timeInt==2">
					 TO_DAYS(users.REG_TIME) = (TO_DAYS(NOW())-2)
				</when>
			</choose>
		</where>
		group by name) u
	</select>
	<!-- SELECT itv_regist.*,itv_record.REASON FROM itv_regist LEFT JOIN itv_record 
		on(itv_regist.DOCTOR_ID=1 and itv_record.REGIST_ID = itv_regist.ID) order 
		by TO_DAYS(itv_regist.REG_TIME) DESC, REG_TIME-TO_DAYS(itv_regist.REG_TIME) -->




	<!-- 实现分页的sql在docid下的 -->
	<select id="selectUserByPage" resultMap="userResultMap"
		resultType="User">

		SELECT ITV_REGIST.*,ITV_RECORD.* FROM ITV_REGIST LEFT JOIN ITV_RECORD
		on(ITV_RECORD.REGIST_ID = ITV_REGIST.ID)
		<where>
			ITV_REGIST.DOCTOR_ID=#{id}
			<choose>
				<when test="timeInt==0">
					and TO_DAYS(ITV_REGIST.REG_TIME) = TO_DAYS(NOW())
				</when>
				<when test="timeInt==1">
					and TO_DAYS(ITV_REGIST.REG_TIME) =
					(TO_DAYS(NOW())-1)
				</when>
				<when test="timeInt==2">
					and TO_DAYS(ITV_REGIST.REG_TIME) =
					(TO_DAYS(NOW())-2)
				</when>
			</choose>
			<!-- and TO_DAYS(ITV_REGIST.REG_TIME) = TO_DAYS(NOW()) -->
		</where>
		order
		by TO_DAYS(ITV_REGIST.REG_TIME) DESC,
		REG_TIME-TO_DAYS(ITV_REGIST.REG_TIME)
		limit #{startPos},#{pageSize}
		<!-- select * from ITV_REGIST <where> doctor_id = #{id} and TO_DAYS(REG_TIME) 
			= TO_DAYS(NOW()) </where> order by TO_DAYS(REG_TIME) DESC, REG_TIME-TO_DAYS(REG_TIME) 
			limit #{startPos},#{pageSize} -->
	</select>


	<!-- 取得要实现分页数据库docid下user的总数 -->
	<select id="getUserCount" resultType="int">
		select count(*) from
		ITV_REGIST
		<where>
			doctor_id = #{id} <!-- and TO_DAYS(REG_TIME) = TO_DAYS(NOW()) -->
			<choose>
				<when test="timeInt==0">
					and TO_DAYS(ITV_REGIST.REG_TIME) = TO_DAYS(NOW())
				</when>
				<when test="timeInt==1">
					and TO_DAYS(ITV_REGIST.REG_TIME) =
					(TO_DAYS(NOW())-1)
				</when>
				<when test="timeInt==2">
					and TO_DAYS(ITV_REGIST.REG_TIME) =
					(TO_DAYS(NOW())-2)
				</when>
			</choose>
		</where>
	</select>
	
	<select id="getCodeValueString" resultType="String">
	 select fn_getaddress_childlist(#{mCodeValue})  
	</select>
	
</mapper>

